
.player-container {
  background-color: rgba(0, 123, 255, 0.5);
  padding: 8px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  .player-info {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

color-legend.styled {
  --cle-font-family: serif;
  --cle-font-family-title: Impact;
  --cle-letter-spacing-title: 0.5px;
  --cle-font-weight: 500;
  --cle-color: black;
  --cle-background: transparent;
  --cle-border-radius: 6px;
  --cle-padding: 0.15rem 0rem 0rem;
  --cle-font-size: 0.7rem !important;
}
  