
.player-container {
  background-color: rgba(0, 123, 255, 0.5);
  padding: 8px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  .player-info {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
  